@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: vw(10);
  
  
  .header-logo {
    display: flex;                    // フレックスボックスを使用
    justify-content: center;          // 水平方向の中央配置
    align-items: center;              // 垂直方向の中央配置
    color: $color-base-white;
    background: #393E46 0% 0% no-repeat padding-box;
    opacity: 1;
    width: vw(120);
    height: vh(40);
    padding: vw(10.44) vw(21.44);
    font-weight: bold;
  }
  
  .header-menu {
    display: flex;
    gap: vw(30);

    li {
      line-height: vw(21);
      font-size: vw(14.4);
    }
  }
}
